{% extends "index.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
    <!-- ?-->
    <div class="text-center">
        <h1>Get in touch with us</h1>
    </div>
    <div class="text-center">
    <h3>Contact Us</h3>
    </div>
    <form action="https://formsubmit.co/02323546a8c23f6a4b88783ec9ebabbe" method="post" enctype=”multipart/form-datan” name=”EmailForm”>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="name@example.com" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="phone" name="phone" placeholder="Phone" type="phone">
        </div>
        <div class="mb-3">
            <textarea class="form-control mx-auto w-auto" id="feedback" name="feedback" placeholder="Feedback" rows="5"></textarea>
          </div>
        <div class="text-center">
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>


{% endblock %}