{% extends "index.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- ?-->
    <div class="burntred">
        <h1>Welcome to Special Cakes for All Occasions!</h1>
        </div>
        <div class="navyblue">
        <h2><p>We have the cakes for all your special events</p></h2>
        <h2><p>Special Cakes for All Occasions is the answer to all your cake needs, serving a wide variety of sweets perfect for an office treat, birthday and other celebrations.</p></h2>
        </div>
    </div>
<hr>

    <figure class="mx-auto">
        <img src="{{url_for('static', filename='home975.jpg')}}" class="rounded mx-auto d-block" alt="home" style="width:975px;height:750px">
        <figcaption class="figure-caption text-center">Assortment of pieces of cake. https://www.freepik.com/free-vector/assortment-of-pieces-of-cake_11799351.htm</figcaption>
    </figure>

<hr>
    <div class="text-center">
        <h3><p> Come and visit us</p></h3>
        <h4><p>23 Pacific Hwy, Sydney NSW</p></h4>
        <h4><p>Phone: 8965 1234</p></h4>
        <h4><p>Email: specialcakes@email.com</p></h4>
        <h5><p>Bakery hours</p></h5>
        <h5><p>Monday-Friday 8.30am to 3pm</p></h5>
    </div>

{% endblock %}
