<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- logo -->
        <div>
            <a href="/home">
                <img src="{{url_for('static', filename='logo.png')}}" alt="">
            </a>
        </div>
        <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">

        <title>Special Cakes {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Special Cakes</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/cakes">Cakes for sales</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                        </ul>
                </div>
            </div>
        </nav>

            <div class="container">
            <figure class="figure">
                <img src="{{url_for('static', filename='banner1200.jpg')}}" class="figure-img img-fluid" alt="banner" style="width:1200px;height:360px">
                <figcaption class="figure-caption text-center">Assortment of pieces of cake. https://www.freepik.com/free-vector/assortment-of-pieces-of-cake_11799284.htm</figcaption>
            </figure>
            </div>

        <hr>

        <div class="main">
        <main>
            {% block main %}{% endblock %}
        </main>
        </div>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-danger mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <footer class="mb-5 small text-center text-muted">
            2020 Special cakes, created by Sui Tung Clara FONG
        </footer>

    </body>

</html>
